---
import Layout from "../../layouts/Layout.astro"
import HomeBtn from "../../components/HomeBtn.astro"

const tabAndMainH1Title = "Layout and Position"
const twDocsButtonName = "Aspect Ratio"
const twDocsButtonLink = "https://tailwindcss.com/docs/aspect-ratio"
---

<Layout title={tabAndMainH1Title}>
   <!-- ----------------------------------------------------------- -->
   <!-- PADDING BOTTOM DIV -->
   <div class="pb-20">
      <!-- ----------------------------------------------------------- -->
      <!-- HOME BUTTON -->
      <div class="pl-5 pt-5">
         <HomeBtn />
      </div>
      <!-- ----------------------------------------------------------- -->
      <!-- PADDING 5 and TEXT CENTER DIV -->
      <div class="p-5 text-center">
         <!-- ----------------------------------------------------------- -->
         <!-- MAIN PAGE H1 TITLE -->
         <h1 class="text-2xl pb-10">{tabAndMainH1Title}</h1>
         <!-- ----------------------------------------------------------- -->
         <!-- TAILWIND DOCS BUTTON -->
         <div class="flex flex-wrap justify-center">
            <a
               href={twDocsButtonLink}
               target="_blank"
               class="px-4 py-2 bg-teal-800 text-white rounded-2xl hover:bg-amber-200 hover:text-amber-800"
               >twDocs {twDocsButtonName}</a
            >
         </div>
         <!-- ----------------------------------------------------------- -->
         <!-- PAGE TOPICS -->
         <p
            class="pt-10 underline underline-offset-4 decoration-amber-200 pb-3 text-2xl"
         >
            Page Topics
         </p>
         <p>Relative and Absolute</p>
         <p>Display Classes</p>
         <p>Z-Index</p>
         <p>Floats</p>

         <!-- ----------------------------------------------------------- -->
         <!-- MAIN CONTENT -->
         <!-- ----------------------------------------------------------- -->
         <!-- H2 SPECIFIC TOPIC HEADING (Spans Page w/background) -->

         <h2 class="py-5 mt-10 mb-5 bg-teal-800 text-white">
            <span
               class="text-xl underline decoration-amber-200 underline-offset-4"
               >Relative and Absolute</span
            >
         </h2>
      </div>

      <!-- ----------------------------------------------------------- -->
      <!-- SUB TOPIC HEADING EXPLANATION -->
      <p></p>

      <div class="flex flex-col items-center pb-5">
         <p>Yellow = Relative</p>
         <p>Blue = Absolute</p>
      </div>

      <!-- ----------------------------------------------------------- -->
      <!-- EXAMPLE CONTENT -->

      <div class="flex justify-center ml-6 md:ml-0 mb-5">
         <div class="flex gap-2 px-10 flex-wrap">
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-16 h-16 absolute top-0 left-0 bg-sky-500">
                  top-0 left-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-16 h-16 absolute top-0 right-0 bg-sky-500">
                  top-0 right-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-20 h-16 absolute bottom-0 right-0 bg-sky-500">
                  bottom-0 right-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-20 h-16 absolute bottom-0 left-0 bg-sky-500">
                  bottom-0 left-0
               </div>
            </div>
         </div>
      </div>

      <div class="flex flex-col items-center py-5">
         <p class="underline underline-offset-4 decoration-amber-200 pb-2">
            Inset-x and Inset-y
         </p>
         <p>x = left: 0 right: 0</p>
         <p>y = top: 0 bottom: 0</p>
      </div>

      <div class="flex justify-center ml-6 md:ml-0">
         <div class="flex gap-2 px-10 flex-wrap">
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="h-16 absolute top-0 inset-x-0 bg-sky-500">
                  top-0 inset-x-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-20 absolute inset-y-0 right-0 bg-sky-500">
                  right-0 inset-y-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="h-16 absolute bottom-0 inset-x-0 bg-sky-500">
                  bottom-0 <br /> inset-x-0
               </div>
            </div>
            <div class="p-5 text-center relative w-32 h-32 bg-yellow-300">
               <div class="w-20 absolute inset-y-0 left-0 bg-sky-500">
                  left-0 inset-y-0
               </div>
            </div>
         </div>
      </div>

      <!-- BEGIN DISPLAY CLASSES BLOCK DIV -->
      <div class="max-w-5xl mx-auto py-5 px-4">
         <!-- BEGIN DISPLAY CLASSES BLOCK DIV -->

         <h2 class="py-5 mt-10 mb-5 bg-teal-800 text-center text-white">
            <span
               class="text-xl underline decoration-amber-200 underline-offset-4"
               >Display Classes</span
            >
         </h2>

         <div class="text-center">
            <p>
               <span
                  class="underline underline-offset-4 decoration-amber-200 pb-2"
                  >hidden</span
               > = display: none (not visibility hidden)
            </p>
            <p>
               <span
                  class="underline underline-offset-4 decoration-amber-200 pb-2"
                  >inline</span
               > = display: inline (will wrap onto the next line)
            </p>
            <p>
               <span
                  class="underline underline-offset-4 decoration-amber-200 pb-2"
                  >inline-block</span
               > = display: inline-block (will not wrap, stays together)
            </p>
            <p>
               <span
                  class="underline underline-offset-4 decoration-amber-200 pb-2"
                  >block</span
               > = display: block (stays in it's own line/block)
            </p>
         </div>

         <p class="pt-6">
            Lorem, ipsum dolor sit <span class="hidden text-red-500"
               >This is hidden.</span
            >
             amet consectetur adipisicing elit. Veritatis exercitationem vel
            quasi est aut nostrum cumque ipsa libero placeat molestias accusamus
            reprehenderit at cupiditate, inventore, aliquid nemo error, officiis
            quos. <span class="inline text-red-500"
               >This is inline. Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Temporibus dolor, sapiente commodi maxime quos
               facilis nulla cumque sit. Eveniet, quasi?</span
            >
             Fuga officiis dicta labore at nihil veritatis eaque modi quo ga
            officiis dicta labore at nihil veritatis eaque modi quo numquam ab
            est non. <span class="inline-block text-red-500"
               >This is inline-block. Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Eius consectetur itaque suscipit voluptate
            </span>totam perspiciatis ullam dignissimos ea obcaecati <span
               class="block text-red-500">This is block.</span
            > consectetur, amet assumenda et pariatur harum minima natus
            doloribus? Quas.
         </p>

         <!-- END DISPLAY CLASSES BLOCK DIV -->
      </div>
      <!-- END DISPLAY CLASSES BLOCK DIV -->

      <!-- BEGIN Z-INDEX BLOCK DIV -->
      <div class="max-w-5xl mx-auto pt-5 pb-12 px-4">
         <!-- BEGIN Z-INDEX BLOCK DIV -->

         <h2
            class="text-center py-5 mt-10 mb-5 bg-teal-800 text-white text-xl underline decoration-amber-200 underline-offset-4"
         >
            Z-Index
         </h2>

         <div class="text-center">
            <p>- z values like -z-20</p>
            <p>z-0</p>
            <p>z-10</p>
            <p>z-20</p>
            <p>z-30</p>
            <p>z-40</p>
            <p>z-50</p>
            <p>z-auto</p>
         </div>

         <div class="relative pt-6 pb-10">
            <div
               class="absolute md:left-0 z-40 h-20 w-20 md:h-40 md:w-40 rounded-full bg-amber-100 border-black border-4"
            >
               <span class="absolute left-10 top-6 md:left-32 md:top-16"
                  >40</span
               >
            </div>
            <div
               class="absolute left-8 md:left-20 z-30 h-20 w-20 md:h-40 md:w-40 rounded-full bg-amber-200 border-black border-4"
            >
               <span class="absolute left-12 top-6 md:left-32 md:top-16"
                  >30</span
               >
            </div>
            <div
               class="absolute left-16 md:left-40 z-20 h-20 w-20 md:h-40 md:w-40 rounded-full bg-amber-300 border-black border-4"
            >
               <span class="absolute left-12 top-6 md:left-32 md:top-16"
                  >20</span
               >
            </div>
            <div
               class="absolute left-24 md:left-60 z-10 h-20 w-20 md:h-40 md:w-40 rounded-full bg-amber-400 border-black border-4"
            >
               <span class="absolute left-12 top-6 md:left-32 md:top-16"
                  >10</span
               >
            </div>
            <div
               class="absolute left-32 md:left-80 z-0 h-20 w-20 md:h-40 md:w-40 rounded-full bg-amber-500 border-black border-4"
            >
               <span class="absolute left-12 top-6 md:left-32 md:top-16">0</span
               >
            </div>
         </div>

         <!-- END Z-INDEX BLOCK DIV -->
      </div>
      <!-- END Z-INDEX BLOCK DIV -->

      <!-- ----------------------------------- -->

      <!-- BEGIN FLOAT BLOCK DIV -->
      <div class="max-w-5xl mx-auto pb-5 px-4">
         <!-- BEGIN FLOAT BLOCK DIV -->

         <h2
            class="text-center py-5 mt-10 md:mt-28 mb-5 bg-teal-800 text-white text-xl underline decoration-amber-200 underline-offset-4"
         >
            Floats
         </h2>

         <p class="px-20 text-center pb-6">
            The image is the only element with a float class
         </p>

         <div class="flex flex-col md:flex-row gap-20 justify-center flex-wrap">
            <!-- FLOAT EXAMPLE 1 -->

            <div class="w-full md:w-1/4">
               <p
                  class="text-center pb-5 underline underline-offset-4 decoration-amber-200"
               >
                  Float Left
               </p>
               <img
                  class="w-20 h-20 float-left mb-2 rounded-xl mr-5"
                  src="/img1.jpg"
                  alt=""
               />
               <h2 class="text-2xl pt-2">Post Title</h2>
               <p class="pt-4 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae ut impedit sit laboriosam, dignissimos laborum id.
                  Deleniti nisi consequatur blanditiis possimus doloremque
                  adipisci iusto dolor, animi quo eum ducimus culpa, nesciunt
                  quia dicta nemo delectus, alias sed unde ut. Consequatur minus
                  impedit explicabo adipisci maiores perspiciatis ad eum ea
                  reprehenderit. Nesciunt dolorum delectus quia totam asperiores
                  rem quidem animi consequuntur!
               </p>
            </div>

            <!-- FLOAT EXAMPLE 2 -->

            <div class="w-full md:w-1/4">
               <p
                  class="text-center pb-5 underline underline-offset-4 decoration-amber-200"
               >
                  Float Right
               </p>
               <img
                  class="w-20 h-20 float-right mb-2 rounded-xl ml-2 mr-2"
                  src="/img1.jpg"
                  alt=""
               />
               <h2 class="text-2xl pt-2">Post Title</h2>
               <p class="pt-4 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae ut impedit sit laboriosam, dignissimos laborum id.
                  Deleniti nisi consequatur blanditiis possimus doloremque
                  adipisci iusto dolor, animi quo eum ducimus culpa, nesciunt
                  quia dicta nemo delectus, alias sed unde ut. Consequatur minus
                  impedit explicabo adipisci maiores perspiciatis ad eum ea
                  reprehenderit. Nesciunt dolorum delectus quia totam asperiores
                  rem quidem animi consequuntur!
               </p>
            </div>

            <!-- FLOAT EXAMPLE 3 -->

            <div class="w-full md:w-1/4">
               <p
                  class="text-center pb-5 underline underline-offset-4 decoration-amber-200"
               >
                  Float None
               </p>
               <img
                  class="w-20 h-20 float-none mb-2 rounded-xl ml-2 mr-2"
                  src="/img1.jpg"
                  alt=""
               />
               <h2 class="text-2xl pt-2">Post Title</h2>
               <p class="pt-4 text-sm">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae ut impedit sit laboriosam, dignissimos laborum id.
                  Deleniti nisi consequatur blanditiis possimus doloremque
                  adipisci iusto dolor, animi quo eum ducimus culpa, nesciunt
                  quia dicta nemo delectus, alias sed unde ut. Consequatur minus
                  impedit explicabo adipisci maiores perspiciatis ad eum ea
                  reprehenderit. Nesciunt dolorum delectus quia totam asperiores
                  rem quidem animi consequuntur!
               </p>
            </div>
         </div>

         <!-- END FLOAT BLOCK DIV -->
      </div>
      <!-- END FLOAT BLOCK DIV -->
      <!-- ----------------------------------- -->
      <!-- END CONTAINER DIV -->
   </div>
   <!-- END CONTAINER DIV -->
</Layout>
