---
import Layout from "../../layouts/Layout.astro"
import HomeBtn from "../../components/HomeBtn.astro"

const tabAndMainH1Title = "Interactivity"
const twDocsButtonName = "Accent Color"
const twDocsButtonLink = "https://tailwindcss.com/docs/accent-color"
---

<Layout title={tabAndMainH1Title}>
   <!-- ----------------------------------------------------------- -->
   <!-- PADDING BOTTOM DIV -->
   <div class="pb-20">
      <!-- ----------------------------------------------------------- -->
      <!-- HOME BUTTON -->
      <div class="pl-5 pt-5">
         <HomeBtn />
      </div>
      <!-- ----------------------------------------------------------- -->
      <!-- PADDING 5 and TEXT CENTER DIV -->
      <div class="p-5 text-center">
         <!-- ----------------------------------------------------------- -->
         <!-- MAIN PAGE H1 TITLE -->
         <h1 class="text-3xl font-semibold pb-10">{tabAndMainH1Title}</h1>
         <!-- ----------------------------------------------------------- -->
         <!-- TAILWIND DOCS BUTTON -->
         <div class="flex justify-center">
            <a
               href={twDocsButtonLink}
               target="_blank"
               class="px-4 py-2 bg-teal-800 text-white rounded-2xl hover:bg-amber-200 hover:text-amber-800"
               >twDocs {twDocsButtonName}</a
            >
         </div>
         <!-- ----------------------------------------------------------- -->
         <!-- PAGE TOPICS -->
         <p
            class="pt-10 underline underline-offset-4 decoration-amber-200 pb-3 text-2xl"
         >
            Page Topics
         </p>
         <p>Topic 1</p>
         <p>Topic 2</p>
         <p>Topic 3</p>
         <!-- ----------------------------------------------------------- -->
         <!-- MAIN CONTENT -->
         <!-- ----------------------------------------------------------- -->
         <!-- H2 SPECIFIC TOPIC HEADING (Spans Page w/background) -->
         <h2 class="py-5 mt-10 mb-5 bg-teal-800 text-white">
            <span
               class="text-xl underline decoration-amber-200 underline-offset-4"
               >1st Topic Heading</span
            >
         </h2>
         <!-- ----------------------------------------------------------- -->
         <!-- SUB TOPIC HEADING EXPLANATION -->
         <p></p>
         <!-- ----------------------------------------------------------- -->
         <!-- EXAMPLE CONTENT -->
         <div>
            <p></p>
         </div>
      </div>
   </div>
</Layout>
<!-- Hover State Styling -->

<!-- Focus State Styling -->

<!-- Active State Styling -->

<!-- Styling based on parent state -->

<!-- Pseudo Classes -->

<!-- Appearance -->
<!-- Use appearance-none to reset any browser specific styling on an element. This utility is often used when creating custom form components. -->

<!-- Cursor -->

<!-- Resize -->

<!-- User Select -->

<!-- Smooth Scroll Example -->

<!-- Cursor
  cursor-auto	          cursor: auto;
  cursor-default	      cursor: default;
  cursor-pointer	      cursor: pointer;
  cursor-wait	          cursor: wait;
  cursor-text	          cursor: text;
  cursor-move	          cursor: move;
  cursor-help	          cursor: help;
  cursor-not-allowed	  cursor: not-allowed;
  cursor-none	          cursor: none;
  cursor-context-menu	  cursor: context-menu;
  cursor-progress	      cursor: progress;
  cursor-cell	          cursor: cell;
  cursor-crosshair	    cursor: crosshair;
  cursor-vertical-text	cursor: vertical-text;
  cursor-alias	        cursor: alias;
  cursor-copy	          cursor: copy;
  cursor-no-drop	      cursor: no-drop;
  cursor-grab	          cursor: grab;
  cursor-grabbing	      cursor: grabbing;
  cursor-all-scroll	    cursor: all-scroll;
  cursor-col-resize	    cursor: col-resize;
  cursor-row-resize	    cursor: row-resize;
  cursor-n-resize	      cursor: n-resize;
  cursor-e-resize	      cursor: e-resize;
  cursor-s-resize	      cursor: s-resize;
  cursor-w-resize	      cursor: w-resize;
  cursor-ne-resize	    cursor: ne-resize;
  cursor-nw-resize	    cursor: nw-resize;
  cursor-se-resize	    cursor: se-resize;
  cursor-sw-resize	    cursor: sw-resize;
  cursor-ew-resize	    cursor: ew-resize;
  cursor-ns-resize	    cursor: ns-resize;
  cursor-nesw-resize	  cursor: nesw-resize;
  cursor-nwse-resize	  cursor: nwse-resize;
  cursor-zoom-in	      cursor: zoom-in;
  cursor-zoom-out	      cursor: zoom-out;
-->
