---
import Layout from "../../layouts/Layout.astro"
import HomeBtn from "../../components/HomeBtn.astro"

const tabAndMainH1Title = "Borders and Border Radius"
const twDocsButtonName = "Border Radius"
const twDocsButtonLink = "https://tailwindcss.com/docs/border-radius"
---

<Layout title={tabAndMainH1Title}>
   <!-- ----------------------------------------------------------- -->
   <!-- PADDING BOTTOM DIV -->
   <div class="pb-20">
      <!-- ----------------------------------------------------------- -->
      <!-- HOME BUTTON -->
      <div class="pl-5 pt-5">
         <HomeBtn />
      </div>
      <!-- ----------------------------------------------------------- -->
      <!-- PADDING 5 and TEXT CENTER DIV -->
      <div class="p-5 text-center">
         <!-- ----------------------------------------------------------- -->
         <!-- MAIN PAGE H1 TITLE -->
         <h1 class="text-3xl font-semibold pb-10">{tabAndMainH1Title}</h1>
         <!-- ----------------------------------------------------------- -->
         <!-- TAILWIND DOCS BUTTON -->
         <div class="flex justify-center">
            <a
               href={twDocsButtonLink}
               target="_blank"
               class="px-4 py-2 bg-teal-800 text-white rounded-2xl hover:bg-amber-200 hover:text-amber-800"
               >twDocs {twDocsButtonName}</a
            >
         </div>
         <!-- ----------------------------------------------------------- -->
         <!-- PAGE TOPICS -->
         <p
            class="pt-10 underline underline-offset-4 decoration-amber-200 pb-3 text-2xl"
         >
            Page Topics
         </p>
         <p>Topic 1</p>
         <p>Topic 2</p>
         <p>Topic 3</p>
         <!-- ----------------------------------------------------------- -->
         <!-- MAIN CONTENT -->
         <!-- ----------------------------------------------------------- -->
         <!-- H2 SPECIFIC TOPIC HEADING (Spans Page w/background) -->
         <h2 class="py-5 mt-10 mb-5 bg-teal-800 text-white">
            <span
               class="text-xl underline decoration-amber-200 underline-offset-4"
               >1st Topic Heading</span
            >
         </h2>
         <!-- ----------------------------------------------------------- -->
         <!-- SUB TOPIC HEADING EXPLANATION -->
         <p></p>
         <!-- ----------------------------------------------------------- -->
         <!-- EXAMPLE CONTENT -->
         <div>
            <p></p>
         </div>
      </div>
   </div>
</Layout>

<!-- Border Widths
      border-0	    border-width: 0px;
      border-2	    border-width: 2px;
      border-4	    border-width: 4px;
      border-8	    border-width: 8px;
      border	      border-width: 1px;
      border-x-0	  border-left-width: 0px;
                    border-right-width: 0px;
      border-x-2	  border-left-width: 2px;
                    border-right-width: 2px;
      border-x-4    border-left-width: 4px;
                    border-right-width: 4px;
      border-x-8	  border-left-width: 8px;
                    border-right-width: 8px;
      border-x	    border-left-width: 1px;
                    border-right-width: 1px;
      border-y-0  	border-top-width: 0px;
                    border-bottom-width: 0px;
      border-y-2	  border-top-width: 2px;
                    border-bottom-width: 2px;
      border-y-4	  border-top-width: 4px;
                    border-bottom-width: 4px;
      border-y-8	  border-top-width: 8px;
                    border-bottom-width: 8px;
      border-y	    border-top-width: 1px;
                    border-bottom-width: 1px;
      border-t-0	  border-top-width: 0px;
      border-t-2	  border-top-width: 2px;
      border-t-4	  border-top-width: 4px;
      border-t-8	  border-top-width: 8px;
      border-t	    border-top-width: 1px;
      border-r-0	  border-right-width: 0px;
      border-r-2	  border-right-width: 2px;
      border-r-4	  border-right-width: 4px;
      border-r-8	  border-right-width: 8px;
      border-r	    border-right-width: 1px;
      border-b-0	  border-bottom-width: 0px;
      border-b-2	  border-bottom-width: 2px;
      border-b-4	  border-bottom-width: 4px;
      border-b-8	  border-bottom-width: 8px;
      border-b	    border-bottom-width: 1px;
      border-l-0	  border-left-width: 0px;
      border-l-2	  border-left-width: 2px;
      border-l-4	  border-left-width: 4px;
      border-l-8	  border-left-width: 8px;
      border-l	    border-left-width: 1px;
    -->

<!-- Outline
      outline-0	outline-width: 0px;
      outline-1	outline-width: 1px;
      outline-2	outline-width: 2px;
      outline-4	outline-width: 4px;
      outline-8	outline-width: 8px;
  -->
