---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tailwind Notes">
   <main>
      <div class="container bg-neutral-700 h-full p-6 max-w-md">
         <h1 class="text-4xl font-title text-[#51918C]">Tailwind Notes</h1>
         <ul class="mt-6">
            <!-- Flash Cards -->

            <a class="" href="flash-cards/index.html">
               <li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                Web Forms
               </li>
            </a>
            <!-- WARNING EXAMPLE -->

            <a class="" href="01-warning-example/index.html">
               <li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Vanilla CSS vs Tailwind
               </li>
            </a>

            <!-- WORKING WITH COLORS -->

            <a class="" href="02-colors/index.html">
               <li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Working With Colors
               </li>
            </a>

            <!-- CONTAINER, MARGIN, PADDING, SPACE X, and SPACE Y -->

            <a class="" href="03-container-spacing/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Container, Marg, Pad, Space X and Y
               </li></a
            >

            <!-- TYPOGRAPHY -->

            <a href="04-typography/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Typography
               </li></a
            >

            <!-- WIDTH AND HEIGHT -->

            <a href="05-sizing/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Width and Height
               </li></a
            >

            <!-- LAYOUT AND POSITION -->

            <a href="06-layout-position/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Layout and Position
               </li></a
            >

            <!-- BACKGROUND AND SHADOWS -->

            <a href="07-backgrounds-shadows/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Background and Shadows
               </li></a
            >

            <!-- BORDERS -->

            <a href="08-borders/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Borders and Border Radius
               </li></a
            >

            <!-- FILTERS -->

            <a href="09-filters/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Filters
               </li></a
            >

            <!-- INTERACTIVITY -->

            <a href="10-interactivity/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Interactivity
               </li></a
            >

            <!-- Breakpoints -->

            <a href="11-breakpoints/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Breakpoints
               </li></a
            >

            <!-- Column Layouts -->

            <a href="12-columns/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Column Layouts
               </li></a
            >

            <!-- Flexbox -->

            <a href="13-flex/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Flexbox
               </li></a
            >

            <!-- Grid -->

            <a href="14-grid/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Grid
               </li></a
            >

            <!-- Transform & Transitions -->

            <a href="15-transform-transition/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Transform & Transitions
               </li></a
            >

            <!-- Animation -->

            <a href="16-animation/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Animation
               </li></a
            >
            <!-- Customization & Config -->

            <a href="17-customization/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Customization & Config
               </li></a
            >

            <!-- Dark Mode -->

            <a href="18-dark-mode/index.html"
               ><li
                  class="hover:bg-gray-600 text-neutral-400 text-lg border border-neutral-500 rounded-xl p-2 my-4"
               >
                  Dark Mode
               </li></a
            >
         </ul>
      </div>
   </main>
</Layout>
