<div class="bg-[#000] w-full h-screen relative">
   <!-- LOGO, HOME, SEARCH -->
   <div
      class="bg-[#121212] w-[293px] h-[157px] absolute top-2 left-2 rounded-lg p-4"
   >
      <img
         src="/spotify.png"
         alt="spotify logo"
         class="h-[42px] pb-[4px] hover:cursor-pointer"
      />
      <div class="flex items-center">
         <img
            src="/home.png"
            alt="home icon"
            class="h-[39px] hover:cursor-pointer"
         /><span
            class="text-[#FFFFFF] pl-3.5 tracking-wide hover:cursor-pointer"
            >Home</span
         >
      </div>
      <div class="flex items-center pt-2.5 pl-px">
         <img
            src="/search.png"
            alt="search icon"
            class="h-[39px] hover:cursor-pointer"
         /><span
            class="text-[#B3B3B3] pl-3.5 tracking-wider hover:cursor-pointer"
            >Search</span
         >
      </div>
   </div>

   <!-- YOUR LIBRARY -->
   <div
      class="bg-[#121212] w-[293px] h-[55px] relative top-[172px] left-2 rounded-lg p-1"
   >
      <div class="flex items-center pt-2.5 pl-px">
         <img
            src="/library.png"
            alt=""
            class="absolute h-[35px] top-2 left-4 hover:cursor-pointer"
         />
         <span
            class="text-[#B3B3B3] absolute left-[65px] top-[14.5px] tracking-wider hover:cursor-pointer"
            >Your Library</span
         >
         <span
            class="absolute left-[255px] top-[10px] text-xl text-[#B3B3B3] cursor-pointer hover:bg-gray-800 hover:rounded-full p-1"
            >+</span
         >
      </div>
   </div>
</div>
