---
const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favic.png" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700;800;900&family=Poiret+One&display=swap"
         rel="stylesheet"
      />
   </head>
   <body class="bg-teal-700 text-black">
      <slot />
   </body>
</html>
